<div class="DashboardButton">
<h3><%= link_to "Make an Order", "/menu", class: "DashboardText" %></h3>
</div>
<br>
<div class="DashboardButton">
<h3><%= link_to "Check Order History", "/history", class: "DashboardText" %></h3>
</div>
