<head>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<div class="row">
	<div class="col-xs-12">
		<div id="banner-img">
			<div class="container">
				<center>
					<div id="banner-content">
						<h1 class="HomeTitle">WELCOME TO THE CENTRAL PERK CAFE</h1>
						<p class="HomeAuthenticate">If you are a new user,<%= link_to " Sign Up Here.", new_customer_path, class: "HomeLink" %></p>
						<p class="HomeAuthenticate">If you are an existing user,<%= link_to " Sign In Here.", new_session_path, class: "HomeLink" %></p>
					</div>
				</center>
			</div>
		</div>
	</div>
</div>
<br><br><br><br>
