<div class="MenuBackground">
        <div class="row">
          <div class="col-xs-12">
            <br>
            <h1 class="card-title text-center">Your Order History</h1>
            <% index = 1 %>
            <% Order.where(user_id: @current_user.id).each do |orders| %>
                <div class="table-responsive">
                  <table class="table table-shopping">
                    <thead>
                      <tr class="text-center">
                        <th>Serial Number</th>
                        <th>Order Date</th>
                        <th>Cost</th>
                        <th>Delivery Status</th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr class="text-center">
                          <td><%= index %></td>
                              <% index += 1 %>
                          <td><%= orders.date.to_s(:long) %></td>
                          <td>₹ <%= orders.cost %></td>
                          <td><%= orders.status.upcase %></td>
                          </tr>
                    </tbody>
                  </table>
                </div>
            <% end %>
          </div>
          </div>
        </div>
      </div>
</div>
<br><br><br><br><br><br>
